In [ ]:
import numpy as np
import pandas as pd
import json as js
from sqlalchemy import create_engine

In [ ]:
pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 KB 1.7 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [ ]:
data = pd.read_csv("/lapd.csv", sep=",", encoding="utf-8")

In [ ]:
datoltp = pd.read_csv("/lapd.csv", sep=",", encoding="utf-8")

In [ ]:
data

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020,01/08/2020,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.01,-118.30
1,190101086,01/02/2020,01/01/2020,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.05,-118.25
2,200110444,04/14/2020,02/13/2020,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.04,-118.25
3,191501505,01/01/2020,01/01/2020,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.17,-118.40
4,191921269,01/01/2020,01/01/2020,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.22,-118.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659635,230104026,01/01/2023,01/01/2023,30,1,Central,119,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,800 N ALAMEDA ST,NaN,34.06,-118.24
659636,230405171,02/05/2023,02/02/2023,1830,4,Hollenbeck,428,1,236,INTIMATE PARTNER - AGGRAVATED ASSAULT,...,IC,Invest Cont,236.0,NaN,NaN,NaN,3000 BUDAU AV,NaN,34.08,-118.17
659637,231104474,01/12/2023,01/12/2023,1240,11,Northeast,1107,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,IC,Invest Cont,440.0,NaN,NaN,NaN,1000 MILWAUKEE AV,NaN,34.12,-118.19
659638,230804266,01/08/2023,01/08/2023,1030,8,West LA,839,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,IC,Invest Cont,341.0,NaN,NaN,NaN,10200 SANTA MONICA BL,NaN,34.06,-118.42
659639,231604807,01/27/2023,01/26/2023,1800,16,Foothill,1663,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,12500 BRANFORD ST,NaN,34.25,-118.41

In [ ]:
ls_ft = ["DR_NO", "Date Rptd", "DATE OCC", "TIME OCC", "AREA", "AREA NAME", "Rpt Dist No", "Crm Cd", "Crm Cd Desc", "Vict Age", "Vict Sex", 
               "Vict Descent", "Premis Cd", "Premis Desc", "Weapon Used Cd", "Weapon Desc", "Status Desc", "Crm Cd 1", "Crm Cd 2", "Crm Cd 3",
         "Crm Cd 4", "LOCATION", "Cross Street", "LAT", "LON"]

In [ ]:
len(ls_ft)

25

In [ ]:
data = data[ls_ft]

In [ ]:
data

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Crm Cd,Crm Cd Desc,Vict Age,...,Weapon Desc,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020,01/08/2020,2230,3,Southwest,377,624,BATTERY - SIMPLE ASSAULT,36,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.01,-118.30
1,190101086,01/02/2020,01/01/2020,330,1,Central,163,624,BATTERY - SIMPLE ASSAULT,25,...,UNKNOWN WEAPON/OTHER WEAPON,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.05,-118.25
2,200110444,04/14/2020,02/13/2020,1200,1,Central,155,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,0,...,NaN,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.04,-118.25
3,191501505,01/01/2020,01/01/2020,1730,15,N Hollywood,1543,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),76,...,NaN,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.17,-118.40
4,191921269,01/01/2020,01/01/2020,415,19,Mission,1998,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",31,...,NaN,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.22,-118.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659635,230104026,01/01/2023,01/01/2023,30,1,Central,119,624,BATTERY - SIMPLE ASSAULT,35,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,624.0,NaN,NaN,NaN,800 N ALAMEDA ST,NaN,34.06,-118.24
659636,230405171,02/05/2023,02/02/2023,1830,4,Hollenbeck,428,236,INTIMATE PARTNER - AGGRAVATED ASSAULT,41,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,236.0,NaN,NaN,NaN,3000 BUDAU AV,NaN,34.08,-118.17
659637,231104474,01/12/2023,01/12/2023,1240,11,Northeast,1107,440,THEFT PLAIN - PETTY ($950 & UNDER),42,...,NaN,Invest Cont,440.0,NaN,NaN,NaN,1000 MILWAUKEE AV,NaN,34.12,-118.19
659638,230804266,01/08/2023,01/08/2023,1030,8,West LA,839,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",48,...,NaN,Invest Cont,341.0,NaN,NaN,NaN,10200 SANTA MONICA BL,NaN,34.06,-118.42
659639,231604807,01/27/2023,01/26/2023,1800,16,Foothill,1663,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",23,...,NaN,Invest Cont,740.0,NaN,NaN,NaN,12500 BRANFORD ST,NaN,34.25,-118.41

In [ ]:
data.bfill(axis ='columns')

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Crm Cd,Crm Cd Desc,Vict Age,...,Weapon Desc,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020,01/08/2020,2230,3,Southwest,377,624,BATTERY - SIMPLE ASSAULT,36,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Adult Other,624.0,1100 W 39TH PL,1100 W 39TH PL,1100 W 39TH PL,1100 W 39TH PL,34.01,34.01,-118.3
1,190101086,01/02/2020,01/01/2020,330,1,Central,163,624,BATTERY - SIMPLE ASSAULT,25,...,UNKNOWN WEAPON/OTHER WEAPON,Invest Cont,624.0,700 S HILL ST,700 S HILL ST,700 S HILL ST,700 S HILL ST,34.05,34.05,-118.25
2,200110444,04/14/2020,02/13/2020,1200,1,Central,155,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,0,...,Adult Arrest,Adult Arrest,845.0,200 E 6TH ST,200 E 6TH ST,200 E 6TH ST,200 E 6TH ST,34.04,34.04,-118.25
3,191501505,01/01/2020,01/01/2020,1730,15,N Hollywood,1543,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),76,...,Invest Cont,Invest Cont,745.0,998.0,5400 CORTEEN PL,5400 CORTEEN PL,5400 CORTEEN PL,34.17,34.17,-118.4
4,191921269,01/01/2020,01/01/2020,415,19,Mission,1998,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",31,...,Invest Cont,Invest Cont,740.0,14400 TITUS ST,14400 TITUS ST,14400 TITUS ST,14400 TITUS ST,34.22,34.22,-118.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659635,230104026,01/01/2023,01/01/2023,30,1,Central,119,624,BATTERY - SIMPLE ASSAULT,35,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,624.0,800 N ALAMEDA ST,800 N ALAMEDA ST,800 N ALAMEDA ST,800 N ALAMEDA ST,34.06,34.06,-118.24
659636,230405171,02/05/2023,02/02/2023,1830,4,Hollenbeck,428,236,INTIMATE PARTNER - AGGRAVATED ASSAULT,41,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,236.0,3000 BUDAU AV,3000 BUDAU AV,3000 BUDAU AV,3000 BUDAU AV,34.08,34.08,-118.17
659637,231104474,01/12/2023,01/12/2023,1240,11,Northeast,1107,440,THEFT PLAIN - PETTY ($950 & UNDER),42,...,Invest Cont,Invest Cont,440.0,1000 MILWAUKEE AV,1000 MILWAUKEE AV,1000 MILWAUKEE AV,1000 MILWAUKEE AV,34.12,34.12,-118.19
659638,230804266,01/08/2023,01/08/2023,1030,8,West LA,839,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",48,...,Invest Cont,Invest Cont,341.0,10200 SANTA MONICA BL,10200 SANTA MONICA BL,10200 SANTA MONICA BL,10200 SANTA MONICA BL,34.06,34.06,-118.42
659639,231604807,01/27/2023,01/26/2023,1800,16,Foothill,1663,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",23,...,Invest Cont,Invest Cont,740.0,12500 BRANFORD ST,12500 BRANFORD ST,12500 BRANFORD ST,12500 BRANFORD ST,34.25,34.25,-118.41

In [ ]:
with open("/lapd_oltp.json", "r") as f:
    cred = js.load(f)

In [ ]:
cred

{'user': 'lapd_oltp',
 'db': 'lapd_oltp',
 'host': '34.172.169.70',
 'pwd': '0txdDGXMoQ1lt0GO',
 'port': '3306'}

In [ ]:
host = cred['host']
port = cred['port']
user = cred['user']
pwd = cred['pwd']
db = cred['db']

In [ ]:
flavor = "mysql"
client = "pymysql"

In [ ]:
conn = create_engine(
    f"{flavor}+{client}://{user}:{pwd}@{host}:{port}/{db}").connect()

In [ ]:
df = pd.read_sql(con=conn, sql="Show tables")

In [ ]:
df

Empty DataFrame
Columns: [Tables_in_lapd_oltp]
Index: []

In [ ]:
datoltp.to_sql(name="LAPD", con=conn, index=False, if_exists="replace")

659640